* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.container {
  padding: 0 10%;
}

a {
  text-decoration: none;
}

ul {
  -webkit-padding-start: 0px !important;
          padding-inline-start: 0px !important;
}

html,
body {
  font-family: sans-serif;
  min-width: 1200px;
}

header {
  height: 120px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 999;
  min-width: 1200px;
  overflow-x: auto;
}
header #top-header {
  height: 30px;
  line-height: 30px;
  background-color: #0282f9;
  text-align: end;
  color: white;
}
header #top-header h6 {
  display: inline-block;
  margin-left: 20px;
}
header #top-header h6 a {
  color: white;
}
header #bottom-header {
  height: 90px;
  background-color: white;
  min-width: 1200px;
  overflow-x: auto;
}
header #bottom-header nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header #bottom-header nav #logo img {
  height: 60px;
}
header #bottom-header nav ul {
  height: 100%;
  display: flex;
  gap: 25px;
}
header #bottom-header nav ul li {
  list-style-type: none;
  height: 100%;
  line-height: 90px;
  cursor: pointer;
}
header #bottom-header nav ul li:hover {
  border-bottom: 3px solid #0282f9;
}
header #bottom-header nav ul li:hover a {
  color: #0282f9;
}
header #bottom-header nav ul li a {
  color: black;
}
header #bottom-header nav ul li a i {
  color: #0282f9;
}
header #bottom-header nav #search-bar {
  border-bottom: 3px solid #0282f9;
}
header #bottom-header nav #search-bar input {
  width: 100px;
  font-weight: bold;
  color: black;
  text-align: end;
}
header #bottom-header nav #search-bar button {
  background-color: transparent;
  cursor: pointer;
}

#jumbotron {
  width: 100%;
  height: 50vh;
  background: url("../images/jumbotron.jpg");
  background-size: cover;
}

#grid {
  width: 100%;
  background-color: rgb(28, 28, 28);
  text-align: center;
  position: relative;
}
#grid #card-label {
  padding: 10px 20px;
  background-color: #0282f9;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  left: 10%;
  transform: translate(0, -50%);
}
#grid #card-label h3 {
  color: white;
  text-transform: uppercase;
}
#grid ul {
  padding: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
#grid ul li {
  flex-wrap: wrap;
  height: 300px;
  width: 15%;
  list-style-type: none;
  overflow-wrap: break-word;
}
#grid ul li img {
  margin-bottom: 10px;
  transition: transform 0.2s;
  height: 70%;
  cursor: pointer;
}
#grid ul li img:hover {
  transform: scale(1.05);
  opacity: 0.6;
}
#grid ul li h4 {
  text-transform: uppercase;
  color: white;
}
#grid button {
  margin: 20px 0;
  padding: 10px 20px;
  color: white;
  background-color: #0282f9;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}
#grid button:hover {
  transform: scale(1.1);
}

.blue-section {
  height: 80px;
  background-color: #0282f9;
}

.main-content .card {
  height: 300px;
  width: 200px;
  border: 1px solid white;
  background: url("https://www.dccomics.com/sites/default/files/styles/covers192x291/public/comic-covers/2018/09/AC1000_DLX_162-001_HD_5ba13723281ab0.37845353.jpg?itok=ZsI-C5eX") center center no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  margin-top: -320px;
  margin-bottom: 100px;
}
.main-content .card .card-title {
  background-color: #00a9d9;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.main-content .card .card-title a {
  display: block;
  padding: 3px;
  height: 100%;
  width: 100%;
  color: white;
}
.main-content .card .view-gallery {
  background-color: #00a9d9;
  text-align: center;
}
.main-content .card .view-gallery a {
  display: block;
  padding: 3px;
  height: 100%;
  width: 100%;
  color: white;
}
.main-content .ad {
  text-align: end;
}
.main-content .ad h4 {
  color: #738ba6;
}
.main-content .central-content {
  display: flex;
}
.main-content .central-content .card-description {
  width: 70%;
}
.main-content .central-content .card-description .card-availability {
  margin: 20px auto;
  border-bottom: 1px solid #419045;
  height: 50px;
  background-color: #55ba59;
  display: flex;
}
.main-content .central-content .card-description .card-availability .card-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 70%;
  border-right: 1px solid #419045;
}
.main-content .central-content .card-description .card-availability .card-price h4 {
  color: #bafd93;
  margin: auto 20px;
}
.main-content .central-content .card-description .card-availability .card-price h4 span {
  color: white;
}
.main-content .central-content .card-description .card-availability .card-check-availability {
  height: 100%;
  line-height: 50px;
  width: 30%;
  border-left: 1px solid #419045;
  text-align: center;
}
.main-content .central-content .card-description .card-availability .card-check-availability h4 {
  color: white;
}
.main-content .central-content .card-description .card-text {
  color: #738ba6;
}
.main-content .central-content .advertisement {
  width: 30%;
  text-align: end;
}
.main-content .central-content .advertisement img {
  width: 90%;
}

#top-upper-footer {
  margin-top: 100px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 100px;
}
#top-upper-footer .container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
#top-upper-footer .container ul {
  width: 50%;
}
#top-upper-footer .container ul li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
  padding: 10px 0;
  color: #003f5e;
}
#top-upper-footer .container ul li span {
  width: 60%;
}
#top-upper-footer .container ul li span a {
  color: #1ec1e8;
}
#top-upper-footer .container ul li:first-child {
  padding: 40px 0;
}

#action-upper-footer {
  width: 100%;
  height: 60px;
  background-color: #f6f6f6;
  z-index: 99;
}
#action-upper-footer .container {
  height: 100%;
}
#action-upper-footer .container ul {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#action-upper-footer .container ul li {
  padding: 15px;
  width: 25%;
  height: 100%;
  color: #959595;
  border-left: 1px solid #e6e6e6;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  cursor: pointer;
}
#action-upper-footer .container ul li img {
  height: 100%;
  filter: invert(0.5);
}
#action-upper-footer .container ul li a {
  text-decoration: none;
  color: #959595;
}
#action-upper-footer .container ul li span {
  font-size: 10px;
  font-weight: bold;
}
#action-upper-footer .container ul li:last-child {
  border-right: 1px solid #e6e6e6;
}

footer {
  width: 100%;
}
footer #central-footer {
  overflow-y: hidden;
  background: url("../images/footer-bg.jpg") center center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 0;
}
footer #central-footer #center-left-footer {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer #central-footer #center-left-footer .lists {
  display: flex;
  justify-content: space-between;
}
footer #central-footer #center-left-footer h2 {
  color: white;
}
footer #central-footer #center-left-footer ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}
footer #central-footer #center-left-footer ul li {
  list-style-type: none;
}
footer #central-footer #center-left-footer ul li a {
  text-decoration: none;
  color: #959595;
}
footer #central-footer #center-left-footer ul li a:hover {
  color: white;
}
footer #central-footer #center-left-footer #copyright-link {
  margin-top: 20px;
}
footer #central-footer #center-left-footer #copyright-link li {
  list-style-type: none;
  color: #959595;
}
footer #central-footer #center-left-footer #copyright-link li a {
  text-decoration: none;
  color: #0282f9;
}
footer #central-footer #center-left-footer #copyright-link li a:hover {
  color: white;
}
footer #central-footer #center-right-footer {
  margin-top: -50px;
  margin-bottom: -50px;
}
footer #bottom-footer {
  background-color: #303030;
  width: 100%;
  height: 100px;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer #bottom-footer #bottom-left-footer button {
  padding: 10px;
  color: white;
  border: 1px solid #0282f9;
  background-color: #303030;
  cursor: pointer;
}
footer #bottom-footer #bottom-left-footer button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
footer #bottom-footer #bottom-right-footer {
  display: flex;
  align-items: center;
}
footer #bottom-footer #bottom-right-footer h4 {
  color: #0282f9;
  margin-right: 10px;
}
footer #bottom-footer #bottom-right-footer ul {
  display: flex;
  gap: 10px;
}
footer #bottom-footer #bottom-right-footer ul li {
  padding: auto;
  border-radius: 100%;
  list-style-type: none;
  text-align: center;
}
footer #bottom-footer #bottom-right-footer ul li:hover {
  background-color: white;
}
footer #bottom-footer #bottom-right-footer ul li a {
  text-decoration: none;
  color: #303030;
}
footer #bottom-footer #bottom-right-footer ul li a img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#upper-footer {
  width: 100%;
  height: 150px;
  background-color: #0282f9;
  z-index: 99;
}
#upper-footer ul {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#upper-footer ul li {
  color: white;
  height: 30%;
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
#upper-footer ul li img {
  height: 100%;
}
#upper-footer ul li a {
  text-decoration: none;
  color: white;
}