* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.container {
    padding: 0 10%;
}

a {
    text-decoration: none;
}

ul {
    padding-inline-start: 0px !important;
    // margin-right: 10px;
}
html,
body {
    font-family: sans-serif;
}
// variables
$azzurro: #0282f9;
$grey-font: #959595;
$bg-dark-grey: #303030;
$hover: rgba(0, 0, 0, 0.2);
